<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="static/blog-home.css" rel="stylesheet">

  <!-- FontAwesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('homepage') }}">Projekt może nie taki końcowy...</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('homepage') }}">Strona główna
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if session.logged_in %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('list_drafts') }}">Szkice
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% endif %}
        </ul>
        {% if session.logged_in %}
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}" method="POST">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Wyloguj</button>
            </form>
        {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-secondary my-2 my-lg-0">Zaloguj</a>
        {% endif %}
      </div>
    </div>
  </nav>


  <!-- Page Content -->
  <!-- Success Alert -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show">
    {% for message in messages %}
    <strong>Sukces!</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Kto by pomyślał ?!
          <small>... chyba nikt :)</small>
        </h1>

        {% block content %}
        {% endblock %}

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Add post -->
        <div class="card my-4">
          <h5 class="card-header">Dodaj nowy post!</h5>
          <div class="card-body">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W tę stronę do kreatywności -->></span>
              </div>  
                <a href="{{ url_for('create_entry') }}">
                <button class="btn btn-secondary" type="button" aria-label="Pencil">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span>
                </button>
                </a>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
